h1 {
    color: #27aedb;
    text-align: center;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.header {
    height: 10%;
    width: 100%;
    background-color: rgb(66, 66, 66);
    text-align: center;
    font-size: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: rgb(66, 66, 66);
}

.main {
    height: 80%;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-areas:
        'leftbar game rightbar';
    grid-gap: 5px;
    align-content: center;
    justify-items: center;
}

.left__bar {
    grid-area: leftbar;
    font-size: 15px;
}

.right__bar {
    grid-area: rightbar;
    font-size: 15px;

}

svg {
    position: absolute;
}
