.game {
    grid-area: game;
    /* height: 750%; */
    /* width: 50%; */
    display: grid;
    /* grid-template-areas:
        'dot00 branch_h dot01 branch_h dot02 branch_h dot03 branch_h dot04 branch_h dot05 branch_h dot06'
        'branch_v space branch_v space branch_v space branch_v space branch_v space branch_v space branch_v'
        'dot10 branch_h dot11 branch_h dot12 branch_h dot13 branch_h dot14 branch_h dot15 branch_h dot16'
        'branch_v space branch_v space branch_v space branch_v space branch_v space branch_v space branch_v'
        'dot20 branch_h dot21 branch_h dot22 branch_h dot23 branch_h dot24 branch_h dot25 branch_h dot26'
        'branch_v space branch_v space branch_v space branch_v space branch_v space branch_v space branch_v'
        'dot30 branch_h dot31 branch_h dot32 branch_h dot33 branch_h dot34 branch_h dot35 branch_h dot36'
        'branch_v space branch_v space branch_v space branch_v space branch_v space branch_v space branch_v'
        'dot40 branch_h dot41 branch_h dot42 branch_h dot43 branch_h dot44 branch_h dot45 branch_h dot46'
        'branch_v space branch_v space branch_v space branch_v space branch_v space branch_v space branch_v'
        'dot50 branch_h dot51 branch_h dot52 branch_h dot53 branch_h dot54 branch_h dot55 branch_h dot56'
        'branch_v space branch_v space branch_v space branch_v space branch_v space branch_v space branch_v'
        'dot60 branch_h dot61 branch_h dot62 branch_h dot63 branch_h dot64 branch_h dot65 branch_h dot66' */
    grid-template-areas: 
        'dot00 dot01 dot02'
        'dot10 dot11 dot12'
        'dot20 dot21 dot22'
    ;
    grid-gap: 100px;
    align-content: center;
    justify-items: center;
}


.dot {
    /* grid-area: dot; */
    width: 10px;
    height: 10px;
    background-color: black;
    z-index: 1;
}

.dot:hover {
    background-color: red;
}

.branch__horizontal {

}

.branch__vertical {

}

svg {
    height: 40%;
    width: 30%;
    z-index: 0;
}
